<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GUI_Frontend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GUI_Frontend.Properties.Settings>
            <setting name="inputFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="outputFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="checkWallColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkSlabColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkWallSlab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="verboseBlocking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="verboseStacking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="verboseGeometry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="verboseFenestrations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="verboseSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="expensiveChecks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeoutSpaceVerification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="spaceVerificationTimeout" serializeAs="String">
                <value>15</value>
            </setting>
        </GUI_Frontend.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
