<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
    <userSettings>
        <GUI.Properties.Settings>
            <setting name="InputIfcFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputIfcFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateOutputIfc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnergyPlusVersionIndexToWrite" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OutputIdfFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="MaterialsLibraryFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="BuildingLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeZone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SolarDistribution" serializeAs="String">
                <value>FullExterior</value>
            </setting>
            <setting name="BuildingTerrain" serializeAs="String">
                <value>Suburbs</value>
            </setting>
            <setting name="LoadsConverganceTolerance" serializeAs="String">
                <value>0.04</value>
            </setting>
            <setting name="TemperatureConvergenceTolerance" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="StartMonth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndMonth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Timestep" serializeAs="String">
                <value>6</value>
            </setting>
        </GUI.Properties.Settings>
    </userSettings>
</configuration>