<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GUI.Properties.Settings>
            <setting name="InputIfcFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputIfcFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipWallColumnCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipSlabColumnCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipWallSlabCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateOutputIfc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnergyPlusVersionIndexToWrite" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputIdfFilename" serializeAs="String">
                <value />
            </setting>
        </GUI.Properties.Settings>
    </userSettings>
</configuration>